header{
    height: 100vh;
    text-align: center;
    align-items: center;
    position: relative;
    .contain-top-part{
        display: flex;
        justify-content: baseline;
        align-items: center;
        height: 100%;
       
    }
    h1{
        font-family: "font-2";
        color: whitesmoke;
        font-size: 5rem;
        width: 60%;
        
        margin: auto;
        text-transform: uppercase;
    }
    h2{
        font-family: "font-1";
        color: white;
        font-size: 1rem;
        text-transform: capitalize;
        font-style: italic;
        margin: 70px 0px ;
       
    }
    p{
        font-size: 4rem;
    }
}